.checkboxWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.checkboxInput {
  width: 16px;
  height: 16px;
  accent-color: #396efd; // Chrome, Edge, Firefox support this
  cursor: pointer;
}

.checkboxLabel {
  font-size: 14px;
  color: #2d2e39;
}
